:root {
  --main-padding-x: #{$main-padding};
  --dark-grayish-blue: #{map-get($colors, dark-grayish-blue)};
  --grayish-blue: #{map-get($colors, grayish-blue)};
  --light-blue: #{map-get($colors, light-blue)};
  --light-blue-hover: #{map-get($colors, light-blue-hover)};
  --light-gray: #{map-get($colors, light-gray)};
  --strong-cyan: #{map-get($colors, strong-cyan)};
  --strong-cyan-hover: #{map-get($colors, strong-cyan-hover)};
  --scrollbar-thumb: #{$scrollbar-thumb};
  --scrollbar-bg: #{$scrollbar-bg};
}

@media screen and (min-width: #{map-get($breakpoints, xl)}) {
  :root {
      --main-padding-x: #{$main-padding * 2};
  }
}

@media screen and (min-width: #{map-get($breakpoints, xxl)}) {
  :root {
      --main-padding-x: #{$main-padding * 5};
  }
}